/*-----------------------------------------------------------------------------------
CSS Reset
-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix { display: inline-block; } /* Hide from IE Mac \*/ 
.clearfix { display: block; } /* End hide from IE Mac */ 
.none { display: none; } /* End Clearfix */

/*-----------------------------------------------------------------------------------
Basic Body Defaults
-----------------------------------------------------------------------------------*/
* {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}
body, html {
    height: 100%;
}
html { 
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	width:100%;
	margin:0;
	padding:0;
}
body {
	/*background: #2b2b2b;*/
	background-image: url("../images/gn1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #989898;
	font-family: "Roboto", Helvetica, Arial, sans-serif; 
	font-size: 1.6rem;
	line-height: 1.75;
	word-wrap: break-word;
	width:100%;
	margin:0;
	padding:0;
}
section {
	display: block;
}

/*-----------------------------------------------------------------------------------
Theming
-----------------------------------------------------------------------------------*/

#dw_wrapper {
	width: 100%;
	height: auto;
	max-width: 940px;
	margin: 0 auto 0 auto;

	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}

#dw_countdown {
	position: relative;
	max-width: 780px;
	margin: 25px auto 0px auto;
	text-align: center;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #fff;
}

.dw_launch_header {
	font-size: 0.9em;
	line-height: 1;
	margin-top:10px;
	letter-spacing: 2px;
	display:block;
}

.dw_launch_subheader {
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 2.2rem;
	margin-bottom:15px;
	letter-spacing: 2px;
}

.dw_launch_subtext {
	margin-bottom:18px;
}

#dw_tut_credits {
	font-size: 14px;
	font-size: 1.4rem;
	width:95%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

hr {
	width: 100%;
	margin: 60px auto;
	height: 1px;
	background: #333;
	border: none;
}

p > a {
	color: #38b789;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 1px solid #38b789;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

p > a:hover {
	color: #34a87d;
	border-bottom: 1px solid #34a87d;
}

/*-----------------------------------------------------------------------------------
MailChimp Style
-----------------------------------------------------------------------------------*/

#mc_embed_signup {	
	max-width: 600px;
	margin: 0 auto;
}

input[type="email"] {
	display: inline-block;
	width: 99%;
	margin-left:auto;
	margin-right:auto;
	height: 4.4rem;
	max-width: 440px;
	background: #333;
	float: left;
	border: none;
	outline: none;
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 400;
	color: inherit;
	line-height: 2.2rem;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
}
@media screen and (min-width:360px) and (max-width:767px){
	input[type="email"]{
		width:95%;
		margin-left:auto;
		margin-right:auto;
		float:none;
	}
}

input[type="email"]:focus {
	opacity: 0.9;
}

input[type="submit"] {
	height: 4.4rem;
	max-width: 140px;
	background: #45a29e;
	border: none;
	outline: none;
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 400;
	color: #fff;
	line-height: 2.2;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none; 
	display:inline-block;
	width:99%;
	margin-left:auto;
	margin-right:auto;
	text-align: center; 
}
@media screen and (max-width:651px){
	input[type="submit"]{
		margin-top:10px;
	}
}

input[type="submit"]:hover {
	cursor: pointer;
	background: #66fcf1;
	color:#1f2833;
}

.end-section-hr{
	margin: 10px;
}

.top-h1{
	letter-spacing: 2px;
	font-size:1.2em;
	font-weight:600;
}

.site-logo{
	max-width: 100%;
	height: auto;
	
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:block;
}

#dw_mailchimp_form{
	margin-bottom:15px;
	position:relative;
}
.follow-us{
	font-size:20px;
	margin-bottom:10px;
}
.fab{
	font-size:20px;
	border:1px solid white;
	border-radius: 50px;
	padding:5px;
	width:40px;
	height:40px;
	margin-left:3px;
	margin-right:3px;
	line-height:30px;
	color:#fff;
	transition:0.5s all;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover{
	font-size:30px;
	width:50px;
	height:50px;
	line-height:40px;
}
.fa-facebook:hover{
	color:#3B5998;
	background-color: #fff;
}

.fa-twitter:hover{
	color:#1DA1F2;
	background-color: #fff;
}

.fa-instagram:hover{
	color: #fb3958;
	background-color: #fff;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
	text-align: center;
	
   /* background-color: #ccc;
    border: 1px solid #ddd;*/
}


.end-section{
	margin-bottom:10px;
}
.end-section-hr{
	margin-top:15px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.container{
	width:100%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	position:absolute;
}

#screen-flipclock{
	width:80%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

@media screen and (min-width:360px) and (max-width:374px){
	#screen-flipclock{
		width:92%;
	}
}

@media screen and (min-width:375px) and (max-width:413px){
	#screen-flipclock{
		width:95%;
	}
}

@media screen and (min-width:414px) and (max-width:767px){
	#screen-flipclock{
		width:90% !important;
	}
}

@media screen and (min-width:768px) and (max-width:1023px){
	#screen-flipclock{
		width:82%;
	}
}

#clock-container{
	padding-right:0px;
}

#anchor{
	color: #66fcf1;
	text-decoration: none;
	border:0;
}

#footer-section{
	position:fixed;
	bottom:5px;
	width:99%;
	margin:0px auto;
	text-align: center;
}
